<%= bootstrap_form_with(model: space, local: true, layout: :horizontal) do |form| %>
  <% if space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :map_id %>
  </div>

  <div class="field">
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.number_field :event_type %>
  </div>

  <div class="field">
    <%= form.text_field :pool_id %>
  </div>

  <div class="field">
    <%= form.text_field :event_id %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
