<h1>New Space Data</h1>

<% unless notice.blank? %>
<div class="card bg-light mb-3">
  <div class="card-body">
    <p id="notice" class="m-0"><%= notice %></p>
  </div>
</div>
<% end %>

<table class="table table-striped">
  <tbody>
        <tr>
      <th>Map</th>
      <td><%= @space.map_id %></td>
    </tr>
        <tr>
      <th>Position</th>
      <td><%= @space.position %></td>
    </tr>
        <tr>
      <th>Event type</th>
      <td><%= @space.event_type %></td>
    </tr>
        <tr>
      <th>Pool</th>
      <td><%= @space.pool_id %></td>
    </tr>
        <tr>
      <th>Event</th>
      <td><%= @space.event_id %></td>
    </tr>
      </tbody>
</table>


<%= link_to 'Edit', edit_space_path(@space), class: 'btn btn-primary' %>
<%= link_to 'Back', spaces_path, class: 'btn btn-secondary' %>
