<h1>Events</h1>

<% unless notice.blank? %>
<div class="card bg-light mb-3">
  <div class="card-body">
    <p id="notice" class="m-0"><%= notice %></p>
  </div>
</div>
<% end %>

<table class="table table-stripe table-responsive">
  <thead>
    <tr>
      <th>Event name</th>
      <th>Event type</th>
      <th>Message</th>
      <th>Default money</th>
      <th>Default intelligence</th>
      <th>Default strength</th>
      <th>Default morality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_name %></td>
        <td><%= event.event_type %></td>
        <td><%= event.message %></td>
        <td><%= event.default_money %></td>
        <td><%= event.default_intelligence %></td>
        <td><%= event.default_strength %></td>
        <td><%= event.default_morality %></td>
        <td><%= link_to 'Show', event, class: 'btn btn-sm btn-info' %></td>
        <td><%= link_to 'Edit', edit_event_path(event), class: 'btn btn-sm btn-primary' %></td>
        <td><%= link_to 'Destroy', event, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path, class: 'btn btn-primary' %>
