<h1><%= @game.game_name %></h1>

<div class="row">
  <% @players.each_with_index do |player, i| %>
    <div class="col-3">
      <table class="table table-sm table-<%= @colors.find_by(for_player_number: i + 1).color %>">
        <thead>
          <tr>
            <th class="pl-3"><%= player.player_name %></th>
            <th class="text-right pr-3"><%= player.money || 0 %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pl-3">job_id</td>
            <td class="text-right pr-3"><%= player.job_id || 0 %></td>
          </tr>
          <tr>
            <td class="pl-3">home_id</td>
            <td class="text-right pr-3"><%= player.home_id || 0 %></td>
          </tr>
          <tr>
            <td class="pl-3">intelligence</td>
            <td class="text-right pr-3"><%= player.intelligence || 0 %></td>
          </tr>
          <tr>
            <td class="pl-3">physicality</td>
            <td class="text-right pr-3"><%= player.physicality || 0 %></td>
          </tr>
          <tr>
            <td class="pl-3">sense</td>
            <td class="text-right pr-3"><%= player.sense || 0 %></td>
          </tr>
          <tr>
            <td class="pl-3">morality</td>
            <td class="text-right pr-3"><%= player.morality || 0 %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<div class="row mt-3 mb-3">
  <% @spaces.each do |space| %>
    <div class="card shadow-sm w-10">
      <div class="card-header">
        <%= space.position %>
      </div>
      <div class="card-body">
        <% @players.each_with_index do |player, i| %>
          <%= space.position == player.position ? '<i class="fas fa-user-circle text-'.html_safe + @colors.find_by(for_player_number: i + 1).color + '"></i>'.html_safe : '' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
