<div class="row">
  <div class="col-12 col-md-6">
    <div class="d-none d-lg-block">
      <h1><%= @game.game_name %></h1>
      <p id="my-player-name" class="lead">Unknown Player</p>
    </div>
    <table class="table table-bordered table-sm shadow-sm">
      <thead class="table-dark text-center">
          <th><i class="fas fa-user-circle"></i></th>
          <th><i class="fas fa-money-check-alt"></i></th>
          <th class="add-table-col-status"><i class="fas fa-graduation-cap"></i></th>
          <th class="add-table-col-status"><i class="fas fa-dumbbell"></i></th>
          <th class="add-table-col-status"><i class="fas fa-star"></i></th>
          <th class="add-table-col-status"><i class="fas fa-user-tie"></i></th>
      </thead>
      <tbody>
        <% @players.each do |player| %>
        <% player_color = @colors.find_by(for_player_number: player.player_no).color %>
          <tr class="text-<%= player_color %>">
            <td>
              <div class="row">
                <div class="col-12 col-md-6">
                  <%= player.player_name %>
                </div>
                <div class="col-12 col-md-6">
                  <span class="text-muted small"><%= player.job_id || 'No job' %></span>
                </div>
              </div>
            </td>
            <td class="text-right align-middle"><%= player.money.to_s(:delimited) || 0 %></td>
            <td class="text-center align-middle"><%= player.intelligence || 0 %></td>
            <td class="text-center align-middle"><%= player.strength || 0 %></td>
            <td class="text-center align-middle"><%= player.sense || 0 %></td>
            <td class="text-center align-middle"><%= player.morality || 0 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-12 col-md-6">
    <div class="card add-card-space shadow-sm">
      <ul class="list-group list-group-flush">
        <% @spaces.each do |space| %>
          <li class="list-group-item d-flex align-items-center justify-content-center">
            <div class="add-wrapper-stoped-users">
              <% @players.each do |player| %>
              <% player_color = @colors.find_by(for_player_number: player.player_no).color %>
                <%= space.position == player.position ? "<i class=\"fas fa-user-circle text-#{player_color} add-text-shadow\"></i>".html_safe : '' %>
              <% end %>
            </div>
            <%=
              if !space.event_type.blank? || !space.event_id?
                event_type = space.event_type || @events.find_by(event_id: space.event_id).event_type
                case event_type
                  when 1
                    space_icon       = 'fa-smile'
                    space_icon_color = 'primary'
                  when 2
                    space_icon       = 'fa-frown'
                    space_icon_color = 'danger'
                end
              elsif !space.pool_id?
                space_icon       = 'fa-question'
                space_icon_color = 'warning'
              end
              "<i class=\"fas #{space_icon} add-space-icon text-#{space_icon_color} add-text-shadow\"></i>".html_safe
            %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Modal windows -->
  <div id="modal-choose-player" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Choose Player</h5>
        </div>
        <div class="modal-body">
          <% @players.each do |player| %>
          <% player_color = @colors.find_by(for_player_number: player.player_no).color %>
            <button class="js-btn-players btn btn-white btn-block text-<%= player_color %> border-<%= player_color %>" data-player-id="<%= player.player_id %>"><%= player.player_name %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
