<%= bootstrap_form_with(model: player, local: true, layout: :horizontal) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :player_name %>
  </div>

  <div class="field">
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.number_field :money %>
  </div>

  <div class="field">
    <%= form.number_field :job_id %>
  </div>

  <div class="field">
    <%= form.number_field :home_id %>
  </div>

  <div class="field">
    <%= form.number_field :intelligence %>
  </div>

  <div class="field">
    <%= form.number_field :strength %>
  </div>

  <div class="field">
    <%= form.number_field :sense %>
  </div>

  <div class="field">
    <%= form.number_field :morality %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
