<h1>Players</h1>

<% unless notice.blank? %>
<div class="card bg-light mb-3">
  <div class="card-body">
    <p id="notice" class="m-0"><%= notice %></p>
  </div>
</div>
<% end %>

<table class="table table-stripe table-responsive">
  <thead>
    <tr>
      <th>Player name</th>
      <th>Game id</th>
      <th>Position</th>
      <th>Money</th>
      <th>Job</th>
      <th>Home</th>
      <th>Intelligence</th>
      <th>Physicality</th>
      <th>Sense</th>
      <th>Morality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.player_name %></td>
        <td><%= player.game_id %></td>
        <td><%= player.position %></td>
        <td><%= player.money %></td>
        <td><%= player.job_id %></td>
        <td><%= player.home_id %></td>
        <td><%= player.intelligence %></td>
        <td><%= player.physicality %></td>
        <td><%= player.sense %></td>
        <td><%= player.morality %></td>
        <td><%= link_to 'Show', player, class: 'btn btn-sm btn-info' %></td>
        <td><%= link_to 'Edit', edit_player_path(player), class: 'btn btn-sm btn-primary' %></td>
        <td><%= link_to 'Destroy', player, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path, class: 'btn btn-primary' %>
